extends layout

block content
  p Welcome to #{title}
  #login.center-vertical
    form.well(id='form-login', method='post')
    h6 Please Login To Your Account
    .form-group
      label BUC ID: 
      input.form-control(type='text', id='user-tf', name='user')
    .form-group
      label private Key: 
      input.form-control(type='password', id='pass-tf', name='pass')
    .controls
      //button(type='button') Remember Me
      button(type='submit') Sign In
    .clearfix
    hr
    .btm-links
      #forgot-password
        a(href='#') Forgot Your Password?
      #create-account
        a(href='/signup') Create An Account
    .clearfix